*{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mobBarList{
    display: none;
}

.mobileHam{
    display: none;
}

.hamburger{
    position: absolute;
    margin-left: 20px;
    left: 0;
    border-radius: 10px;
    margin: 10px 0 10px 20px;
}

.bars{
    width: 65px;
    margin: 10px 10px;
    border-radius: 10px;
    font-size: 40px;
    background-color: #832eff;
    border: none;
    color: white;
    cursor: pointer;
}


.navBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #281549;
}

.navBar ul{
    display: flex;
    position: relative;
    top: -80px;
    list-style: none;
    transition: top 0.5s ease;
}

.navBar ul li{
    color: white;
    padding-right: 4rem;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.navBar ul li:hover{
    text-shadow: 0 0 5px white;
}


.header_sec{
    background-image: url(./Header_Title.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.border{
    height: 15px;
    background-image: linear-gradient(90deg , #832eff, #fe4ff2);
}

.header_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 5rem;
}

.header_container div{
    display: flex;
    align-items: center;
    margin-left: -30px;
}


.header_container h1{
    font-size: 88px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-text-stroke: 4px white;
    text-shadow: 0 0 20px white;
    font-family: system-ui;
}

.header_container div p{
    color: white;
    font-size: 20px;
}

.header_container img{
    width: 80px;
    margin: 0;
}

.header_container p:nth-child(3){
    color: #FF4FF3;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: -6rem;
    text-transform: uppercase;
    text-shadow: 0 0 8px;
    font-weight: 700;
}

.header_container button {
    background-color: #832eff; /* Initial state background color */
    background-image: linear-gradient(90deg, #832eff, #fe4ff2);
    color: white;
    font-weight: 900;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.products{
    background-color: #281549;
}

.products h2{
    font-size: 56px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-text-stroke: 4px white;
    text-shadow: 0 0 20px white;
    font-family: system-ui;
    padding:3rem 0 3rem 5rem;
    letter-spacing: 4px;
}

.images{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.images div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images div:nth-child(1){
    background-image: url(./4.png) !important;
    height: 440px;
    width: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 2px black;
    border-radius: 40px;
    transition: 0.4s ease-in-out;
}

.images div:nth-child(1):hover,
.images div:nth-child(2):hover,
.images div:nth-child(3):hover{
    transform: scale(1.1);
    cursor: pointer;
}

.images div:nth-child(1) p,
.images div:nth-child(2) p,
.images div:nth-child(3) p{
    color: white;
    font-size: 30px;
    font-weight: 500;
    padding: 0 5rem;
    text-align: center;
}

.images div:nth-child(1) button,
.images div:nth-child(2) button,
.images div:nth-child(3) button{
    background-image: linear-gradient(90deg , #832eff, #fe4ff2);
    color: white;
    font-weight: 400;
    padding: 10px 26px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

.images div:nth-child(2){
    background-image: url(./2.png) !important;
    height: 440px;
    width: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 2px black;
    border-radius: 40px;
    transition: 0.4s ease-in-out;
}

.images div:nth-child(3){
    background-image: url(./3.png) !important;
    height: 440px;
    width: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 2px black;
    border-radius: 40px;
    transition: 0.4s ease-in-out;
}

.plans{
    background-color: #281549;
    display: flex;
    justify-content: space-between;
}

.for_IMAGES{
    margin: 0 5rem;
}

.plans h2{
    font-size: 56px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-text-stroke: 4px white;
    text-shadow: 0 0 20px white;
    font-family: system-ui;
    padding: 3rem 0 1rem 0rem;
    letter-spacing: 4px;
}

.plans .img{
    height: 260px;
    width: 400px;
    background-image: url(./5.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.for_text{
    padding-top: 3rem;
    margin: 0 8rem 5rem 4rem
}

.for_text h3{
    color: #FF4FF3;
}

.for_text p{
    color: white;
    text-transform: math-auto;
}

.for_text button{
    background-image: linear-gradient(90deg , #832eff, #fe4ff2);
    color: white;
    font-weight: 400;
    padding: 10px 26px;
    border: none;
    border-radius: 20px;
    margin-top: 4rem;
}

.Bundles{
    background-color: #281549;
}

.Bundles h2{
    font-size: 56px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-text-stroke: 4px white;
    text-shadow: 0 0 20px white;
    font-family: system-ui;
    padding:3rem 0 3rem 5rem;
    letter-spacing: 4px;
}

.Bundles .images div:nth-child(1),
.Bundles .images div:nth-child(2),
.Bundles .images div:nth-child(3){
    background-image: url(./8.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 220px;
}

.Bundles .images div:nth-child(2){
    background-image: url(./7.png) !important;
}

.Bundles .images div:nth-child(3){
    background-image: url(./6.png) !important;
}

.text{
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: -30px;
    margin-left: -60px;
}

.text div p{
    color: white;
}

.text div h3{
    color: #FF4FF3;
    text-transform: math-auto;
}

.Accessories{
    background-color: #281549;
}

.Accessories h2{
    font-size: 56px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-text-stroke: 4px white;
    text-shadow: 0 0 20px white;
    font-family: system-ui;
    padding:3rem 0 3rem 5rem;
    letter-spacing: 4px;
}

.Accessories .images div:nth-child(1),
.Accessories .images div:nth-child(2){
    background-image: url(./10.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 490px;
    height: 290px;
}

.Accessories .images div:nth-child(2){
    background-image: url(./9.png) !important;
}

.Accessories .text{
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: -30px;
    margin-left: -170px;
}

.about {
    background-color: #281549;
    display: flex;
}

.about div{
    flex: 1;
}

.about h2{
    font-size: 56px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-text-stroke: 4px white;
    text-shadow: 0 0 20px white;
    font-family: system-ui;
    padding:3rem 0 3rem 5rem;
    letter-spacing: 4px;
}

.about p{
    color: white;
    margin: 0rem -7rem 2rem 5rem;
    text-transform: math-auto;
    font-weight: 700;
}

.about .img{
    margin: 54px 5rem 38px 230px;
    background-image: url(./12.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 400px;
    border-radius: 70px;
}

#btn{
    display: flex;
    margin-bottom: 40px;
}

#btn button{
    margin: 3rem 0rem 3rem 5rem;
    background-image: linear-gradient(90deg , #832eff, #fe4ff2);
    color: white;
    font-weight: 400;
    padding: 10px 26px;
    border: none;
    border-radius: 20px;
}

#btn button:last-child{
    display: inline-block;
    border: 2px solid #fe4ff2;
    background-image: linear-gradient(90deg , #822eff00, #fe4ff200);
    background-color: transparent;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #281549;
}

footer div:nth-child(1){
    background-image: url(13.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    padding-left: 5rem;
}

footer div:nth-child(1) h1{
    font-size: 56px;
    letter-spacing: 5px;
    color: rgb(202, 202, 202);
    text-transform: uppercase;
    font-weight: 400;
    -webkit-text-stroke: 4px white;
    text-shadow: 0 0 20px white;
    font-family: system-ui;
}

footer div:nth-child(1) p{
    color: white;
    font-size: 20px;
    margin: 3rem 0;
    font-weight: 800;
}

footer div:nth-child(1) img{
    width: 50px;
    margin: 0;
}

footer .for_text{
    padding-top: 3rem;
    margin: 0 12rem 0 0;
}

span{
    font-size: 32px;
    color: white;
    margin-right: 10px;
}

@media only screen and (max-width:1200px){
    .header_container img {
        width: 70px;
        margin: 0;
    }

    .header_container h1 {
        font-size: 80px;
    }
    .header_container p:nth-child(3) {
        font-size: 20px;
    }

    .products h2 {
        font-size: 46px;
    }

    .about h2 {
        font-size: 46px;
    }

    #btn button {
        margin: 3rem 0rem 3rem 4rem;
    }

    footer div:nth-child(1) h1 {
        font-size: 46px;
        margin: 30px 0;
    }

    .images div:nth-child(1),
    .images div:nth-child(2),
    .images div:nth-child(3) {
        height: 400px;
        width: 250px;
    }

    footer .for_text {
        padding-top: 3rem;
        margin: 0px 5rem 0px 20px;
    }

    .header_container div {
        margin-bottom: -80px;
        margin-top: -40px;
    }

    .plans h2 {
        font-size: 46px;
    }

    .for_text {
        padding-top: 3rem;
        margin: 0 2rem 5rem 0rem;
    }

    .Bundles h2 {
        font-size: 46px;
    }

    .Bundles .images div:nth-child(1), .Bundles .images div:nth-child(2), .Bundles .images div:nth-child(3) {
        width: 280px;
        height: 200px;
    }

    .images {
        justify-content: space-evenly;
    }

    .text {
        margin-right: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .Accessories h2 {
        font-size: 46px;
    }

    .Accessories .images div:nth-child(1), .Accessories .images div:nth-child(2) {
        width: 420px;
        height: 250px;
    }

    .Accessories .text {
        margin-right: 0;
        display: flex;
        justify-content: space-evenly;
    }

    .about .img {
        margin: 54px 3rem 38px 150px;
    }

    footer div:nth-child(1) {
        height: 400px;
    }

    footer div:nth-child(1) p {
        margin: 0;
    }
}

@media only screen and (max-width:900px){
    .bars {
        margin: 0px 0px;
    }

    .header_container {
        margin-left: 3rem;
    }

    .header_container div {
        margin-top: -132px;
        margin-bottom: -132px;
    }

    .header_container h1 {
        font-size: 56px;
    }

    .header_container p:nth-child(3) {
        font-size: 14px;
        margin-top: -164px;
    }

    .header_container button {
        margin-top: -156px;
    }

    .images div:nth-child(1), .images div:nth-child(2), .images div:nth-child(3) {
        height: 310px;
        width: 180px;
    }

    .images div:nth-child(1) p, .images div:nth-child(2) p, .images div:nth-child(3) p {
        font-size: 22px;
    }

    .for_IMAGES {
        margin: 0 3rem;
    }

    .plans h2 {
        font-size: 36px;
    }

    .plans .img {
        height: 200px;
        width: 320px;
    }

    .for_text p {
        font-size: 12px;
    }

    .for_text h3 {
        font-size: 14px;
    }

    .Bundles h2 {
        font-size: 36px;
        padding-left: 36px;
    }

    .for_text {
        padding-top: 3rem;
        margin: 0 1rem 2rem 0rem;
    }

    .Bundles .images div:nth-child(1), .Bundles .images div:nth-child(2), .Bundles .images div:nth-child(3) {
        width: 180px;
        height: 130px;
    }

    .text div p {
        color: white;
        font-size: 12px;
        text-align: center;
    }

    .text div h3 {
        text-align: center;
        font-size: 13px;
    }

    .text {
        margin-left: -32px;
    }

    .Accessories h2 {
        font-size: 36px;
        padding: 24px 0px 24px 24px;
    }

    .Accessories .images div:nth-child(1), .Accessories .images div:nth-child(2) {
        width: 290px;
        height: 210px;
    }

    .Accessories .text {
        margin-right: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    .about h2 {
        font-size: 36px;
        padding: 24px 0 24px 24px;
    }

    .about p {
        color: white;
        margin: 0rem 0rem 2rem 2rem;
        font-size: 14px;
    }

    #btn button {
        margin: 0rem 0rem 0rem 2rem;
    }

    .about .img {
        margin: 26px 3rem 38px 76px;
    }

    footer div:nth-child(1) {
        padding-left: 2rem;
    }

    .navBar {
        padding: 20px;
        justify-content: end;
    }

    .navBar ul li {
        padding-right: 2rem;
        font-size: 14px;
    }
}

@media only screen and (max-width:600px){


    .mobileHam{
        display: block;
    }

    .bar{
        margin: 5px;
        background-image: linear-gradient(90deg , #832eff, #fe4ff2);
        color: white;
        font-weight: 400;
        padding: 0px 8px;
        border: none;
        border-radius: 5px;
        font-size: 30px;
        position: absolute;
        z-index: 99;
    }

    .header_sec {
        background-position:top;
        height: 310px;
    }

    .header_container {
        margin-left: 2rem;
        margin-top: 3rem;
    }

    .header_container h1 {
        font-size: 30px;
    }

    .header_container p:nth-child(3) {
        font-size: 16px;
        margin-top: 0rem;
    }

    .navBar {
        padding: 0px;
        display: block;
        transition: 0.5s ease-in-out;
    }

    .navBar ul {
        /* display: flex;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center; */
        display: none;
        text-align: end;
    }

    .navBar ul li{
        color: white;
        padding-right: 15px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        padding-bottom: 10px;
        display: none;
    }

    .hamburger {
        position: absolute;
        margin-left: 20px;
        left: 0;
        border-radius: 10px;
        margin: -15px 0 10px 0px;
        display: none;
    }
    
    .products h2 {
        font-size: 36px;
        padding: 40px;
        text-align: center;
    }
    .header_container button {
        margin-bottom: 30px;
        margin-top: -28px;
    }

    .for_IMAGES {
        margin: 0 1rem;
    }

    .plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plans h2 {
        font-size: 35px;
        text-align: center;
        padding: 5px;
    }

    .header_container div {
        margin-top: -20px;
        margin-bottom: -32px;
    }

    .plans .img {
        width: 330px;
    }

    .for_text {
        margin: 15px 15px 0 15px;
    }

    .for_text button {
        margin-top: 2rem;
        margin-bottom: 30px;
    }

    .Bundles h2 {
        font-size: 40px;
        padding: 20px;
        text-align: center;
    }

    .images div:nth-child(1),
    .images div:nth-child(2),
    .images div:nth-child(3) {
        height: 370px;
        width: 250px;
        margin-bottom: 40px;
    }

    .text {
        margin-right: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .text div{
        flex: 1;
        padding-left: 10px;
    }

    .Accessories h2 {
        font-size: 36px;
        padding: 26px;
        text-align: center;
    }

    .Bundles .images div:nth-child(1), .Bundles .images div:nth-child(2), .Bundles .images div:nth-child(3) {
        width: 100px;
        height: 118px;
    }

    .text div p {
        color: white;
        font-size: 12px;
    }

    .text div h3 {
        color: #FF4FF3;
        text-transform: math-auto;
        font-size: 10px;
    }

    .Accessories .text {
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
        margin-top: 0px;
        margin-left: 17px;
    }

    .Accessories .text div h3 {
        color: #FF4FF3;
        text-transform: math-auto;
        font-size: 16px;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about h2 {
        font-size: 36px;
        padding: 26px;
        text-align: center;
    }

    #btn button {
        margin: 1rem 0rem 0rem 1rem;
    }

    .about p {
        color: white;
        margin: 0rem 0rem 2rem 1rem;
        text-transform: math-auto;
        font-weight: 700;
    }

    .about .img {
        margin: 54px 0rem 0px 0px;
        background-image: url(./12.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 270px;
        width: 270px;
        border-radius: 70px;
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    
footer div:nth-child(1) {
    background-image: url(13.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 293px;
    display: none;
}

.images {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 0;
}

.products .images {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

    .Accessories .images div:nth-child(1), .Accessories .images div:nth-child(2) {
        width: 160px;
        height: 160px;
    }

    .header_container img {
        width: 50px;
        margin: 0;
    }

    .header_container div p {
        color: white;
        font-size: 16px;
    }

    footer .for_text {
    padding-top: 3rem;
    margin: 0 0rem 0 0;
    text-align: center;
}

.mobBarList{
    display: block;
    position: absolute;
    top: -250px;
    left: 0;
    right: 0px;
    text-align: end;
    list-style: none;
    background-color: #281549;
    padding-right: 20px;
    transition: 0.5s ease-in-out;
    border-bottom: 2px solid #fe4ff2;
}

.mobBarList li {
    color: white;
    font-weight: 700;
    padding: 8px 0;
}
}

